{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jinwoo's Website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    
    <div style="background-color: rgb(100, 223, 245); padding: 10px;">
        
    </div>
 
    <header>
        <h1>Jinwoo's Website</h1>
        <p>Seoul, Korea</p>
        <p>E-mail : maddonge@naver.com</p>
    </header>
 
    
 
    <div id="container">

        <aside>
            <h2>About Me</h2>
            <div class="myimg" style="height: 500px;"><img src="/static/img/jinwoo2.png" alt="me"></div>
            <p>I am a student majoring in software at Dankook University.
                <br>I like active sports like soccer and baseball, and I love spending time with my friends.
                <br>
                I do my best in my work and I am positive in everything.
                <br>
                This page introduces my favorite things.</p>
 
        </aside>
        <article>
            <h2>축구 ⚽️</h2>
            
            <div class="soccer" style="height: 200px;"><img src="/static/img/tottenham.png" alt="tottenham"></div>
            <p> If you ask me what my favorite thing is, I would say soccer.
                I like almost all sports, but there is a reason why I like soccer the most.
                This is because 11 players can work together to solve the game and develop a sense of cooperation.
                My favorite team is Tottenham Hotspur
                and my favorite player is Heung-Min Son.
            </p>
            <p></p>
 
 
            <h2>Food 🍔</h2>
            <div class="food" style="height: 200px;"><img src="/static/img/hamburger.jpeg" alt="hamburger"></div>
            <p> I tend to eat anything I can eat, regardless of whether I can eat it.
            I eat anything because I have a good appetite, but my favorite food is hamburgers.
            
        </article>
 
    </div>
 
    
    <footer>
         
    </footer>
 
</body>
</html>

